# Optional logging settings, uncomment one of these example lines or add your own.
# See comments after each for more info.
# Default: "nexexp:app,nexexp:error"
#DEBUG=*  # Enable all logging, including middleware
#DEBUG=nexexp:*  # Enable all logging specific to nex-rpc-explorer
#DEBUG=nexexp:app,nexexp:error  # Default (you could add also nexexp:errorVerbose)

# The active coin. Only officially supported value is "NEX".
# Default: EXA
#EXAEXP_COIN=EXA

# Host/Port to bind to
# Defaults: shown
#EXAEXP_HOST=127.0.0.1
#EXAEXP_PORT=3002

# exana RPC Credentials (URI -OR- HOST/PORT/USER/PASS)
# Defaults:
#   - [host/port]: 127.0.0.1:7127
#   - [username/password]: none
#   - cookie: '~/.exana/.cookie'
#   - timeout: 5000 (ms)
#EXAEXP_EXANAD_URI=exana://rpcusername:rpcpassword@127.0.0.1:7127?timeout=10000
#EXAEXP_EXANAD_HOST=127.0.0.1
#EXAEXP_EXANAD_PORT=7227
#EXAEXP_EXANAD_USER=rpcusername
#EXAEXP_EXANAD_PASS=rpcpassword
#EXAEXP_EXANAD_COOKIE=/path/to/exanad/.cookie
#EXAEXP_EXANAD_RPC_TIMEOUT=5000

# Select optional "address API" to display address tx lists and balances
# Options: electrumx,
# If electrumx set, the EXAEXP_ELECTRUMX_SERVERS variable must also be
# set.
# Default: none
# So far there's no Electrum server implementation for EXANA
# Rostrum will fill the blank soon :P
#EXAEXP_ADDRESS_API=(electrumx)

# Optional ElectrumX Servers. See EXAEXP_ADDRESS_API. This value is only
# used if EXAEXP_ADDRESS_API=electrumx, the available trasnport schemes are
# tcp, tcp_tls, ws and wss
#EXAEXP_ELECTRUMX_SERVERS=tcp_tsl://electrumx.server.com:50002,tcp://127.0.0.1:50001,...

# Set number of concurrent RPC requests. Should be lower than your node's "rpcworkqueue" value.
# Note that exana's default rpcworkqueue=16.
# Default: 10
#EXAEXP_RPC_CONCURRENCY=10

# Optional redis server for RPC caching
# Default: none
#EXAEXP_REDIS_URL=redis://localhost:6379

# Default: hash of credentials
#EXAEXP_COOKIE_SECRET=0000aaaafffffgggggg

# Whether public-demo aspects of the site are active
# Default: false
#EXAEXP_DEMO=true

# Set to false to enable resource-intensive features, including:
# UTXO set summary querying
# (default value is true, i.e. resource-intensive features are disabled)
#EXAEXP_SLOW_DEVICE_MODE=false

# Privacy mode disables:
# Exchange-rate queries, IP-geolocation queries
# Default: false
#EXAEXP_PRIVACY_MODE=true

# Don't request currency exchange rates
# Default: true (i.e. no exchange-rate queries made)
#EXAEXP_NO_RATES=true

# Show RPC terminal and browser tools
# Default: false
#EXAEXP_UI_SHOW_RPC=true

# Password protection for site via basic auth (enter any username, only the password is checked)
# Default: none
#EXAEXP_BASIC_AUTH_PASSWORD=mypassword

# Enable to allow access to all RPC methods
# Default: false
#EXAEXP_RPC_ALLOWALL=true

# Custom RPC method blacklist
# Default: (see config.js)
#EXAEXP_RPC_BLACKLIST=signrawtransaction,sendtoaddress,stop,...

# Optional API keys
# Default: none
#EXAEXP_GANALYTICS_TRACKING=UA-XXXX-X
#EXAEXP_SENTRY_URL=https://00000fffffff@sentry.io/XXXX
#EXAEXP_MAPBOX_KEY=pk.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#EXAEXP_IPAPI_KEY=xxxxxxxxxxxxx

# Optional value for "max_old_space_size"
# Default: 1024
#EXAEXP_OLD_SPACE_MAX_SIZE=2048

# Show tools list in a sub-nav at top of screen
# Default: true
#EXAEXP_UI_SHOW_TOOLS_SUBHEADER=true

# Does getblock support "height" as parameter?
# Default: false
#EXAEXP_BLOCK_BY_HEIGHT_SUPPORT=false

# Avoid showing IP addresses (ipv4, ipv6 and onion)
# Default: true
#EXAEXP_HIDE_IP=true

# Avoid shoing pug render error on views
# Default: true
#EXAEXP_SHOW_PUG_RENDER_STACKTRACE=true

# Show next figguclty and next diff change
# Default: false
#EXAEXP_SHOW_NEXTDIFF=true

# Addresses rich list path
# Default: /tmp/rich_list.csv
#EXAEXP_RICHLIST_PATH=

# Token API to get token and NFT data from
# Default: EXAEXP_TOKEN_API=http://tokenapi.bitcoinunlimited.info
#EXAEXP_TOKEN_API=

# Sync Tokens
# default false
#EXAEXP_DONT_SYNC_TOKENS=
